{% extends "layout.html" %}

{% block body %}
    <center>
    <h1>Control of Running Functions</h1>
    <h2>Music Player Control</h2>
    <form method="POST" action="/control">
        <input type="submit" name="submit_button" value="Stop Music">
        <input type="submit" name="submit_button" value="Start Music">
        <input type="submit" name="submit_button" value="Next Playlist">
        <input type="submit" name="submit_button" value="Stop Wedding Sequence">
        <input type="submit" name="submit_button" value="Start Wedding Sequence">
    </form>
 
    <br><br>
   <table style="width:80%">
    <tr>
        <th>Playlist Number</th>
        <th>Playlist</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[9]}}</td>
        <td style="text-align:center">{{Status[10]}}</td>
    </table>

    <br><br>

    <h2>Control of Bells Functions</h2>

    <form method="POST" action="/control">
        <input type="submit" name="submit_button" value="Stop Change Rings">
        <input type="submit" name="submit_button" value="Start Change Rings">
    </form>
    
    <br><br>

    <table style="width:80%">
    <tr>
        <th>Change Rings Title</th>
     </tr>
    <tr>
        <td style="text-align:center">{{Status[12]}}</td>
    </table>
    
    <br><br>
    
    <h2>Site Status</h2>

    <form method="POST" action="/control">
        <input type="submit" name="submit_button" value="Enable Extended Hours">
        <input type="submit" name="submit_button" value="Disable Extended Hours">
    </form>
    <br><br>
    <table style="width:80%">
    <tr>
        <th>Site Status</th>
        <th>Extended Hours</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[8]}}</td>
        <td style="text-align:center">{{Status[11]}}</td>
    </table>
    
    <br><br>

    <form method="POST" action="/control">
        <input type="submit" name="submit_button" value="Switch to Status Page">
    </form>
    </center>

{% endblock %}
