{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="/">
        <input type="submit" name="submit_button" value="Refresh Page">
    </form>

    <center>
    <h1>Status of Running Functions</h1>
    <h2>Music Player Processor</h2>
    <table style="width:80%">
    <tr>
        <th>Load (%)</th>
        <th>Memory (MB)</th>
        <th>Temperature (Degrees C)</th>
        <th>System Time</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[0]}}</td>
        <td style="text-align:center">{{Status[1]}}</td>
        <td style="text-align:center">{{Status[2]}}</td>
        <td style="text-align:center">{{Status[6]}}</td>
    </table>
    <h2>Bells Processor</h2>
    <table style="width:80%">
    <tr>
        <th>Load (%)</th>
        <th>Memory (MB)</th>
        <th>Temperature (Degrees C)</th>
        <th>System Time</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[3]}}</td>
        <td style="text-align:center">{{Status[4]}}</td>
        <td style="text-align:center">{{Status[5]}}</td>
        <td style="text-align:center">{{Status[7]}}</td>
    </table>
    <h2>Music Player Status</h2>
    <table style="width:80%">
    <tr>
        <th>Playlist Number</th>
        <th>Playlist</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[9]}}</td>
        <td style="text-align:center">{{Status[10]}}</td>
    </table>
    <h2>Bells Status</h2>
    <table style="width:80%">
    <tr>
        <th>Change Rings Title</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[12]}}</td>
    </table>
    <br><br>
    <h2>Site Status</h2>
    <table style="width:80%">
    </tr>
    <tr>
        <th>Opening Status</th>
        <th>Late Hours Status</th>
    </tr>
    <tr>
        <td style="text-align:center">{{Status[8]}}</td>
        <td style="text-align:center">{{Status[11]}}</td>
    </table>
    <br><br>
    <form method="POST" action="/control">
        <input type="submit" name="submit_button" value="Switch to Control Functions Page">
    </form>
    <p>(Staff Only)</p>
    </center>
    
{% endblock %}
