<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name-"viewport" content="initial-scale=1, width=device-width">
        <link rel='icon' href='static/favicon.ico' type='image/x-icon'/ >
        <title>Minster Bells and Music Player</title>
    <center>
    <div class="center">
        <h1><img src="static/header_logo.png"  width="252" height="104" alt="Minster Bells and Music Player"></h1>
    </div>
    </center>

    </head>

<style>

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 5px;
	}
	
html, body {
   background: url(static/background.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height: 100%
}

</style>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
